/* reset */  

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
}

/* Estilos generales */

/* Header */

    header{
        width: 100%; 
    }

    header .seccion_logo{
        background-image: url('../Recursos/Img/Background_portada.jpeg');
        background-position: 0;
        background-size: cover;
        padding: 20px 30px;
    }

    header #logo{
        width: 300px;
    }

    nav .menu{
        background-color: #017EA7;
        padding: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-align: center;
    }

    nav ul .barra_navegacion{
        display: inline;
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
    }

    nav ul .barra_navegacion a{
        color: #FFFFFF;
    }

/* Seccion 1 */

    .seccion_1 h1{
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 36px;
        color: #1F2937;
    }

    .seccion_1 p{
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #4B5563;
    }

    
    form .input{
        padding: 15px 10px;
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #1F2937;
    }

/* Footer */



/* Estilos Home */

    .seccion_1 {
        padding: 48px 80px;
    }

    .imagenes{
        display: flex;
        align-items: center;
    }

    .imagenes #img1 {
        width: 233px;
        height: 214px;
    }

    .imagenes #img2 {
        width: 281px;
        height: 214px;
    }

    .seccion_2{
        background: #D8DBE2;
        border-radius: 6px;
        margin: 15px;
        width: 500px;
        height: 250px;
    }

    .seccion_2 h3{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #1F2937;
    padding: 5px 10px 0px;
    }

    .seccion_2 h4{
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #1F2937;
        padding: 0px 10px; 
    }

    .seccion_3{
        background: #017EA7;
        padding: 48px 80px;
        display: grid;
        grid-template-columns: repeat(3, 33%);
    }

    .seccion_3 h2{
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 550;
        font-size: 36px;
        line-height: 36px;
        color: #FAFAFA;
    }

    .seccion_3 h3{
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        color: #FAFAFA;
    }

    .seccion_3 p{
        font-family: 'Work Sans', sans-serif;
        font-style: regular;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #FAFAFA;
    }

    article{
        display: grid;
        grid-template-columns: 70% 30%;
    }

    .parte_superior{
        display: grid;
        grid-template-columns: 30% 70%;
        display: flex;
        align-items: center;
    }

/* Estilos About Us */


/* Estilos Contact Us */






